.lessons-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lessons-container {
    border-bottom: 2px ghostwhite;
}
.lesson-items {
    display: flex;
    gap: 20px;
    
}
.lesson-links {
    display: flex;
    border: 2px ghostwhite;
}