  .nav-link {
    border: 2mm ridge rgba(211, 220, 50, .6);
    transition: transform 0.2s;
}
.nav-link:hover {
    transform: scale(1.35);
    background-color: gold;
}

.Greeting-title {
    font-size: 50px;
}

.Greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.click-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}