/* TODO: Add sitewide styles */
@font-face {
    font-family: "Montserrat";
    src: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
}
ul {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}

.icon {
    text-decoration: none;
}

p {
    color: #eae4d2
}

a {
    text-decoration: none;
    color: #eae4d2;
    padding: 5px;
}


h1 {
    color: #eae4d2;
}
label {
    color: ghostwhite;
}

h2 {
    color: #eae4d2;
}
h3 {
    color: #eae4d2;
}
h4 {
    color: ghostwhite
}
html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(60, 42, 48);
}

body .modal-background { /* Or your main container selector */
    background-color: rgb(60, 42, 48) ;
}

